ol:first-of-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  
  padding: 0;
}

ol:first-of-type>li {
  display: inline-flex;
  width: 320px;
  height: 240px;
  min-width: 320px;
  min-height: 240px;
  background-color: tomato;
  
  align-items: center;
  justify-content: center;
  
  border: 2px solid maroon;
  
  margin: 10px 10px;
} 

ol:first-of-type>li>a {
  width:100%;
  background-color: rgba(245, 245, 245, 0.8);
  text-align: center;
  text-decoration: none;
  font-size: 200%;
}

ol:first-of-type>li:nth-child(2) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/01-basics-01-position.html');
}

ol:first-of-type>li:nth-child(3) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/01-basics-06-lights.html');
}

ol:first-of-type>li:nth-child(4) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/02-textures-01.html');
}

ol:first-of-type>li:nth-child(5) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/03-environments-01.html');
}

ol:first-of-type>li:nth-child(6) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/04-3d-models-01-gltf.html');
}

